@media only screen and (max-width:992px) {
    .clock__wrapper {
        justify-content: center;
    }

    .clock__data h1 {
        font-size: 1.1rem !important;
    }
}


.timer__count {
    background: #0957de;
 

}

.timer__count img {
    width: 70% !important;
    height: 70% !important;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.buy__btn{
    font-weight: 500;
    border: none;
    padding: 4px ;
    border-radius: 5px;
}